/**
  * Flip to square
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes flip-to-square {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }

    50%,
    75% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

@keyframes flip-to-square {
    0% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }

    50%,
    75% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
}

.animation-loading {
    width: 100%;
    height: 100%;
    /* background-color: #2e312ef6; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: fixed;
    z-index: 100;
}

.flip-to-square {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 60px;
    width: 60px;
}

.flip-to-square div {
    -webkit-animation: flip-to-square 1.5s calc(var(--delay) * 1s) infinite backwards;
    animation: flip-to-square 1.5s calc(var(--delay) * 1s) infinite backwards;
    background-color: #ffffff;
}

.flip-to-square div:nth-child(1) {
    --delay: 0.1;
}

.flip-to-square div:nth-child(2) {
    --delay: 0.2;
}

.flip-to-square div:nth-child(3) {
    --delay: 0.3;
}

.flip-to-square div:nth-child(4) {
    --delay: 0.4;
}

.flip-to-square div:nth-child(5) {
    --delay: 0.5;
}

.flip-to-square div:nth-child(6) {
    --delay: 0.6;
}

.flip-to-square div:nth-child(7) {
    --delay: 0.7;
}

.flip-to-square div:nth-child(8) {
    --delay: 0.8;
}

.flip-to-square div:nth-child(9) {
    --delay: 0.9;
}

.custom-shape-divider-bottom-1669735420 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1669735420 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1669735420 .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1669735420 svg {
        width: calc(170% + 1.3px);
        height: 500px;
    }
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 70.46375815870832,170.1374098248025 140.92751631741663,140.27481964960495 219,133 C 297.07248368258337,125.72518035039505 382.75369288904164,141.0381312263827 442,143 C 501.24630711095836,144.9618687736173 534.057712126417,133.57265544486432 593,156 C 651.942287873583,178.42734455513568 737.0154586052903,234.67124699416004 807,237 C 876.9845413947097,239.32875300583996 931.8804534524218,187.7423565784954 993,186 C 1054.1195465475782,184.2576434215046 1121.4627275850225,232.35932669185846 1197,243 C 1272.5372724149775,253.64067330814154 1356.2686362074887,226.8203366540708 1440,200 C 1440,200 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 85.32256956372382,195.38646513225694 170.64513912744764,190.77293026451392 226,193 C 281.35486087255236,195.22706973548608 306.74201305393336,204.2947440742013 374,198 C 441.25798694606664,191.7052559257987 550.386808656819,170.04809343868087 629,185 C 707.613191343181,199.95190656131913 755.7107523187908,251.51288217107523 820,239 C 884.2892476812092,226.48711782892477 964.7701820680179,149.90037787701823 1036,127 C 1107.229817931982,104.09962212298178 1169.2085194091376,134.88560632085193 1235,156 C 1300.7914805908624,177.11439367914807 1370.395740295431,188.55719683957403 1440,200 C 1440,200 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 64.999656475438,214.51872208862935 129.999312950876,229.0374441772587 194,243 C 258.000687049124,256.9625558227413 321.00240467193396,270.3689453795946 390,260 C 458.99759532806604,249.6310546204054 533.991068361388,215.48677430436277 595,193 C 656.008931638612,170.51322569563723 703.0333218825145,159.68395740295432 785,156 C 866.9666781174855,152.31604259704568 983.8756441085538,155.77739608381998 1056,159 C 1128.1243558914462,162.22260391618002 1155.4641016832702,165.20645826176573 1212,172 C 1268.5358983167298,178.79354173823427 1354.267949158365,189.39677086911712 1440,200 C 1440,200 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 82.9220199244246,231.18790793541737 165.8440398488492,262.37581587083474 243,264 C 320.1559601511508,265.62418412916526 391.5458605290278,237.68464445207835 444,200 C 496.4541394709722,162.31535554792165 529.9725180350396,114.88560632085196 596,136 C 662.0274819649604,157.11439367914804 760.564067330814,246.7729302645139 834,259 C 907.435932669186,271.2270697354861 955.7712126417041,206.02267262109237 1028,174 C 1100.228787358296,141.97732737890763 1196.3510821023704,143.13637925111647 1269,153 C 1341.6489178976296,162.86362074888353 1390.824458948815,181.43181037444177 1440,200 C 1440,200 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,200 0,200 C 70.46375815870832,170.1374098248025 140.92751631741663,140.27481964960495 219,133 C 297.07248368258337,125.72518035039505 382.75369288904164,141.0381312263827 442,143 C 501.24630711095836,144.9618687736173 534.057712126417,133.57265544486432 593,156 C 651.942287873583,178.42734455513568 737.0154586052903,234.67124699416004 807,237 C 876.9845413947097,239.32875300583996 931.8804534524218,187.7423565784954 993,186 C 1054.1195465475782,184.2576434215046 1121.4627275850225,232.35932669185846 1197,243 C 1272.5372724149775,253.64067330814154 1356.2686362074887,226.8203366540708 1440,200 C 1440,200 1440,600 1440,600 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 74.57574716592237,419.2456200618344 149.15149433184473,438.49124012366883 222,449 C 294.84850566815527,459.50875987633117 365.96976983854347,461.28065956715903 427,460 C 488.03023016145653,458.71934043284097 538.9694263139814,454.386121607695 613,431 C 687.0305736860186,407.613878392305 784.1525249055308,365.1748540020612 852,375 C 919.8474750944692,384.8251459979388 958.4204740638957,446.91446238406047 1009,460 C 1059.5795259361043,473.08553761593953 1122.165578838887,437.167296461697 1196,419 C 1269.834421161113,400.832703538303 1354.9172105805565,400.4163517691515 1440,400 C 1440,400 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 64.63552043971146,400.999656475438 129.2710408794229,401.999312950876 199,381 C 268.7289591205771,360.000687049124 343.55135692201986,317.0024046719341 407,330 C 470.44864307798014,342.9975953280659 522.5235314324975,411.9910683613878 589,408 C 655.4764685675025,404.0089316386122 736.3545173479903,327.03332188251454 805,336 C 873.6454826520097,344.96667811748546 930.0583991755411,439.87564410855384 999,453 C 1067.9416008244589,466.12435589144616 1149.4118859498453,397.4641016832703 1225,375 C 1300.5881140501547,352.5358983167297 1370.2940570250773,376.26794915836484 1440,400 C 1440,400 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 51.78564067330815,362.6293369975954 103.5712813466163,325.2586739951907 176,343 C 248.4287186533837,360.7413260048093 341.500515286843,433.5946410168327 419,445 C 496.499484713157,456.4053589831673 558.4266575060117,406.3627619374786 632,376 C 705.5733424939883,345.6372380625214 790.7928546891104,334.9543112332532 853,344 C 915.2071453108896,353.0456887667468 954.4019237375471,381.81999312950876 1024,387 C 1093.5980762624529,392.18000687049124 1193.5994503607008,373.7657162487118 1268,372 C 1342.4005496392992,370.2342837512882 1391.2002748196496,385.1171418756441 1440,400 C 1440,400 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 64.23222260391617,418.4891789762968 128.46444520783234,436.9783579525936 205,441 C 281.53555479216766,445.0216420474064 370.3744417725868,434.57574716592234 443,430 C 515.6255582274132,425.42425283407766 572.0377877018205,426.7186533837169 631,415 C 689.9622122981795,403.2813466162831 751.4744074201308,378.5496392992099 827,390 C 902.5255925798692,401.4503607007901 992.0645826176572,449.08278941944354 1065,450 C 1137.9354173823428,450.91721058055646 1194.2672621092408,405.11920302301615 1254,389 C 1313.7327378907592,372.88079697698385 1376.8663689453797,386.44039848849195 1440,400 C 1440,400 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,400 0,400 C 74.57574716592237,419.2456200618344 149.15149433184473,438.49124012366883 222,449 C 294.84850566815527,459.50875987633117 365.96976983854347,461.28065956715903 427,460 C 488.03023016145653,458.71934043284097 538.9694263139814,454.386121607695 613,431 C 687.0305736860186,407.613878392305 784.1525249055308,365.1748540020612 852,375 C 919.8474750944692,384.8251459979388 958.4204740638957,446.91446238406047 1009,460 C 1059.5795259361043,473.08553761593953 1122.165578838887,437.167296461697 1196,419 C 1269.834421161113,400.832703538303 1354.9172105805565,400.4163517691515 1440,400 C 1440,400 1440,600 1440,600 Z");
    }
}

.border-svg-1{
    width: 26rem;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #335B8A;
    border-radius:0% 100% 100% 0% / 30% 0% 100% 70%  ;
    z-index: -1;
}
.border-svg-2{
    width: 26rem;
    height: 20rem;
    position: absolute;
    bottom:0 ;
    right: 0;
    background-color: #335B8A;
    border-radius:100% 0% 100% 0% / 100% 100% 0% 0% ;
    z-index: -1;
}
.border-svg-3{
    width: 26rem;
    height: 20rem;
    position: absolute;
    right: 20%;
    background-color: #395d8533;
    border-radius:
    100% 0% 52% 48% / 100% 0% 100% 0% ;
    z-index: -1;
}
.border-svg-4{
    width: 26rem;
    height: 20rem;
    position: absolute;
    top: 0;
    right: 20%;
    background-color: #395c8585;
    border-radius:0% 100% 24% 76% / 28% 23% 77% 72% ;
    z-index: -1;
}
.triangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-style: solid;
    border-width: 47px 0 47px 128px;
    border-color: transparent transparent transparent #335B8A;
  }
  .triangle::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 47px 0 47px 128px;
    border-color: transparent transparent transparent #335B8A;
  }
